<h2>Login</h2>

<section class="loginSystem">
    <form action="api/sessions/" class="form">

        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>

        <input type="submit" id="loginButton" value="Sign In">
    </form>
    <div class="register">
        <a href="/passwordrecovery">Forgot your password?</a>
        <a href="/register" class="button greenButton">Register</a>
    </div>
    <a href="api/sessions/github" class="button socialButton">
        <img src="./img/github-mark.png" alt="Logo de GitHub" class="socialImg">
        <div>
            <p>GITHUB</p>
        </div>
    </a>
</section>

<script src="/js/loginSystem/login.js"></script>