<h2>Password Recovery</h2>

<section class="loginSystem">
    <form class="form">
        <h4>Send password reset link</h4>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>

        <input type="submit" id="sendEmailButton" value="Send link">
    </form>
</section>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/loginSystem/passwordRecovery.js"></script>